div.containerDiv {
  min-height: 83vh;
  padding: 20px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  div.containerDiv {
    padding: 12px;
  }
}
@media screen and (orientation: landscape) and (max-height: 500px) {
  div.containerDiv {
    min-height: 150vh;
  }
}
