.flashMessage {
  position: absolute;
  bottom: 15vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;

  width: fit-content;
  justify-self: center;
  display: none;
  transition: 250ms;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 6px 20px 6px rgba(0, 0, 0, 0.2);
}
.flashMessageP {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  padding: 15px 25px;
  color: white;
}
hr.progressBar {
  margin: 0 !important;
  height: 5px;
  border: 0;
  animation: progress 2s linear forwards;
}

.progressBar {
  background-color: white;
}
.success {
  background-color: var(--primary-color);
}
.error {
  background-color: #db4e35;
}

.visible {
  display: block;
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@media (max-width: 768px) {
  .flashMessageP {
    font-size: 1em;
    padding: 12px 17px;
  }
  .flashMessage {
    border-radius: 10px;
  }
}
