.iconButton {
  background-color: transparent;
  border: none;
  font-size: 2.5em;
  cursor: pointer;
  color: #333 ;
  padding: 0;
  transition: 200ms;
}

.close {
  position: absolute;
  top: 0.6em;
  right: 0.6em;
}

i {
  background-color: transparent;
  pointer-events: none;
}